body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,205,45,1) 100%);
  background-size: auto;
  background-repeat: no-repeat;
  font-family: 'Chango', cursive; 
  color: #e8505b;
  
}

h1 {
  color: #e8505b;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

#game {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-row-gap: 0.6em;
}

#game div {
  border: 2px solid #faf5e4;
  border-radius: 5%;
  width: 100px;
  height: 100px;
  background-image: url('./gifs/shutterstock_289724834.jpg');
  background-repeat: no-repeat;
  background-size: 100px 100px;
  margin: 0.625em;
  cursor: pointer;
} 

#game:hover div{
  filter:blur(0.1px);
  opacity:.5;
  transform: scale(0.8);
  box-shadow:none;
}
#game:hover  div:hover{
  transform:scale(1.5);
  filter:blur(0.2px); 
  opacity:0.9;
  box-shadow:0 8px 20px 0px rgba(0,0,0,0.125);
}

.score-tracker {
  text-align: justify;
  margin: 0.5em 5em;
  font-size: large;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number1, .number2 {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

button {
  display: inline-block;
  padding: 0.5px 1em;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #e8505b;
  background-color: rgba(253,205,45,1);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

button:hover {background-color: #f5f1da}

button:active {
  background-color: rgba(253,205,45,1);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button {
  margin: 1.3em 3em;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 800px) {
  .parent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #game {
    display: grid;
    grid-template-columns: auto auto auto; 
    grid-row-gap: 0.2em; 
  }

  #game div {
    border: 2px solid #faf5e4;
    border-radius: 2%;
    width: 100px;
    height: 100px;
    margin: 0.625em;
    background-image: url('./gifs/shutterstock_289724834.jpg');
    cursor: pointer;
  } 

  .score-tracker {
    margin: 1em 5em;
  }
}